.Block {
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 2px;
}

.App {
  justify-content: center;
}

.Display {
  background-color: #111;
  gap: 3px;
  padding: 5px;
}

body {
  height: 100%;
  font-family: monospace;
}

.SidePanel {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.Score {
  color: #DDD;
  text-align: center;
}

.PieceQueue {
  display: inline-grid;
  grid-template-columns: "auto auto auto";
  padding-left: 10px;
  margin-top: 10px;
  gap: 3px;
}

.SettingsButton {
  border-style: solid;
  border-color: #AAA;
  padding: 3px;
  margin: 5px;
  color: #AAA;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
