.Block {
  padding: 0px;
  border-radius: 3px;
}

.App {
  justify-content: center;
  background-color: #111;
  user-select: none;
}

.Display {
  background-color: #111;
  padding: 5px;
  flex-direction: row;
  display: inline-grid;
}

.TutorialAnimation {
  flex-direction: column;
  display: flex;
  gap: 1em;
}

.tutorialText {
  margin-top: 10px;
  color: #AAA;
  justify-content: center;
  text-align: center;
  user-select: none;
  font-weight: bold;
  text-wrap: wrap;
}

@keyframes blinky {
  0% {
    background-color: rgba(150,150,150,1);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}

.blinkyInlineKey {
  transition: background-color 0.1s;
  background-color: #AAA;
  font-family: monospace;
  border-style: solid;
  border-color: #AAA;
  padding: 0 0.25em;
  font-weight: bold;
}

.InlineKey {
  transition: background-color 0;
  animation: 1s ease-out 0s 1 blinky;
  font-family: monospace;
  border-style: solid;
  border-color: #AAA;
  padding: 0 0.25em;
  font-weight: bold;
}


body {
  background-color: #111;
  overflow-y: hidden;
  height: 100%;
  font-family: monospace;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.SidePanel {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 3px;
}

.Score {
  color: #DDD;
  text-align: center;
}

.PieceQueue {
  display: inline-grid;
  grid-template-columns: "auto auto auto";
  margin-top: 10px;
  gap: 3px;
}

.SettingsButton {
  border-style: solid;
  border-color: #AAA;
  background-color: #000;
  padding: 5px;
  margin: 5px;
  color: #AAA;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.SettingsHeader {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  margin-top: 0px;
  color: #AAA;
  text-align: center;
  user-select: none;
}
